{
  "bracketSpacing": true,
  "editorconfig": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
